@model UserManagement.Web.Models.Users.UserListItemViewModel

<h2> Add User</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Add" method="post">
	<div class="form-control-lg">
		<label asp-for="Forename"></label>
		<input asp-for="Forename" class="form-control"/>
		<span asp-validation-for="Forename" class="text-danger"></span>
	</div>


	<div class="form-control-lg">
		<label asp-for="Surname"></label>
		<input asp-for="Surname" class="form-control" />
		<span asp-validation-for="Surname" class="text-danger"></span>
	</div>


	<div class="form-control-lg">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" type="email" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>


	<div class="form-control-lg">
		<label asp-for="DateOfBirth"></label>
		<input asp-for="DateOfBirth" class="form-control" type="date" />
		<span asp-validation-for="DateOfBirth" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>
